@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Montserrat', sans-serif;
}
/* #### NAV-BAR #### */

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #fd6160;
}


.nav-logo {
    width: 240px;
    height: 60px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links, li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links, li a {
    transition: all 0.3s ease 0s;
}

.nav-links, li a:hover {
    color: #ffbfbf;
}

.signup-btn {
    padding: 10px 25px;
    color: #fd6160;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.login-btn {
    padding: 10px 25px;
    color: white;
    background-color: #fd6160;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.signup-btn:hover {
    background-color: #faa3a3;
    color: #fcf1f1;
}

.login-btn:hover {
    background-color: #ffbfbf;
    color: #fd6160;
}

/* #### HOME #### */
.home {
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.home-intro {
    width: 550px;
    height: 650px;
    padding: 100px 35px;
    font-size: 30px;
    text-align: center;
}

.higlight {
    display: inline;
    font-style: normal;
    background-image: linear-gradient(0deg,#fe7474 83%,transparent 0);
    margin-right: 1px;
}

.homeintro-img {
    width: 650px;
    height: 550px;
}

.introphoto-home {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.btngroup-home {
    margin-top: 6rem;
}

.wiwi-btn {
    padding: 10px 25px;
    color: #fd6160;
    background-color: white;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border: 2px solid #fd6160;
}

.wawito-btn {
    padding: 10px 25px;
    color: #fd6160;
    background-color: white;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border: 2px solid #fd6160;
}

.wiwi-btn:hover {
    background-color:  #fd6160;
    color: white;
}

.wawito-btn:hover {
    background-color:  #fd6160;
    color: white;
}

/* #### ABOUT #### */

.about {
    height: 800px; 
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.about-tt {
    text-align: center;
    font-size: 45px;
}

.about-info {
    width: 550px;
    height: 650px;
    padding: 100px 35px;
    font-size: 30px;
    text-align: center;
}

.imginfo-about {
    width: 750px;
    height: 450px;
}

.about-img {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.higlight-about {
    display: inline;
    font-style: normal;
    background-image: linear-gradient(0deg,#fe7474 83%,transparent 0);
    padding-right: 20px;
    padding-left: 20px;
}

.higlight-about-tt {
    display: inline;
    font-style: normal;
    background-image: linear-gradient(0deg,#fe7474 15%,transparent 0);
    padding-right: 20px;
    padding-left: 20px; 
}

.about-note {
    font-size: 25px;
}

/* #### CREATOR #### */
.creator {
    height: 800px;
}

.creator-title {
    text-align: center;
    font-size: 45px;
    margin: 20px;
}

.creator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cre-highlight {
    display: inline;
    font-style: normal;
    background-image: linear-gradient(0deg,#fe7474 15%,transparent 0);
    padding-right: 20px;
    padding-left: 20px;
}

.img-creator {
    margin: 30px;
}

.p-creator {
    width: 750px;
    font-size: 23px;
    text-align: center;
}